{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "react-hooks", "tailwindcss"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "globals": {
        "mongoose": "writable"
    },
    "rules": {
        "no-console": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "tailwindcss/no-custom-classname": "off"
    },
    "ignorePatterns": ["**/*.html"]
}
